{% extends "base.html" %}
{% block head %}
<style>
    .set-margin {
        margin: 0% 7%;
    }
</style>
{% endblock head %}
{% block body %}
<div class="row mb-2 set-margin">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">No - 1</strong>
                <h3 class="mb-0">Hostel Mess</h3>
                <strong class="d-inline-block mb-2 text-primary">Price per month (without breakfast): 2900
                </strong>
                <strong class="d-inline-block mb-2 text-success">Snacks Available</strong>
                <strong class="d-inline-block mb-2 text-danger">
                </strong>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                    style="background: url(https://source.unsplash.com/400x400/?food);"></svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">No - 2</strong>
                <h3 class="mb-0">Hostel Mess</h3>
                <strong class="d-inline-block mb-2 text-primary">Price per month (with breakfast): 3700
                </strong>
                <strong class="d-inline-block mb-2 text-danger">Price per month (without breakfast): 2900
                </strong>
                <strong class="d-inline-block mb-2 text-success">Snacks Available</strong>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                    style="background: url(https://source.unsplash.com/400x400/?foodie);"></svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">No - 3</strong>
                <h3 class="mb-0">Central Canteen</h3>
                <strong class="d-inline-block mb-2 text-primary">Price per month (without breakfast): -
                </strong>
                <strong class="d-inline-block mb-2 text-success">Snacks Available</strong>
                <strong class="d-inline-block mb-2 text-danger">
                </strong>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                    style="background: url(https://source.unsplash.com/400x400/?foody);"></svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">No - 4</strong>
                <h3 class="mb-0">KJ'S Mess</h3>
                <strong class="d-inline-block mb-2 text-primary">Price per month (without breakfast): -
                </strong>
                <strong class="d-inline-block mb-2 text-success">Snacks Available</strong>
                <strong class="d-inline-block mb-2 text-danger">
                </strong>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                    style="background: url(https://source.unsplash.com/400x400/?foods);"></svg>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">No - 5</strong>
                <h3 class="mb-0">Shree Mess</h3>
                <strong class="d-inline-block mb-2 text-primary">Price per month (without breakfast): - 2800
                </strong>
                <strong class="d-inline-block mb-2 text-success">Snacks Available</strong>
                <strong class="d-inline-block mb-2 text-danger">
                </strong>
            </div>
            <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"
                    style="background: url(https://source.unsplash.com/400x400/?foodp);"></svg>
            </div>
        </div>
    </div>
</div>
{% endblock body %}